force-app/main/default/flows/Open_Position_Closed_Date_Lapse_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_position_Close_Date_Lapse_Email_Alert</name>
        <label>Open position Close Date Lapse Email Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Position__c.Open_position_Close_Date_Lapse_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Open_position_Close_Date_Lapse_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CloseDatePlus30Days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Date_Closed__c} + 30</expression>
    </formulas>
    <interviewLabel>Open Position Closed Date Lapse FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Open Position Closed Date Lapse FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Advance_Close_Date_by_30_Days</name>
        <label>Advance Close Date by 30 Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_position_Close_Date_Lapse_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Closed__c</field>
            <value>
                <elementReference>CloseDatePlus30Days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Day_after_close_date</name>
            <connector>
                <targetReference>Advance_Close_Date_by_30_Days</targetReference>
            </connector>
            <label>1 Day after close date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Date_Closed__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
