force-app/main/default/flows/Start_Date_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_alert_to_HR_manager_and_Record_Owner</name>
        <label>Email alert to HR manager and Record Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Position__c.Start_Date_is_Approaching_in_One_Day_and_Status_is_in_open_stage</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Start_Date_is_Approaching_in_One_Day_and_Status_is_in_open_stage</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_record_owner</name>
        <label>Email Alert to record owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Position__c.Start_Date_is_Approaching_and_Status_is_Open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Start_Date_is_Approaching_and_Status_is_Open</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_to_VP_HR</name>
        <label>Email alert to VP-HR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Position__c.Start_Date_has_Approached_and_Status_is_still_Open</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Advance_Start_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Position__c.Start_Date_has_Approached_and_Status_is_still_Open</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>AdvanceStartDateBy7days</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} + 7</expression>
    </formulas>
    <interviewLabel>Start Date flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Date flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Advance_Start_Date</name>
        <label>Advance Start Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>AdvanceStartDateBy7days</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Start_Date_has_Approached_7_Days_Before_and_status_is_still_open</name>
        <label>Start Date has Approached 7 Days Before and status is still open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Position__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Start_Date_is_Approaching_and_status_is_open</name>
            <connector>
                <targetReference>Email_Alert_to_record_owner</targetReference>
            </connector>
            <label>Start Date is Approaching and status is open</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Start_Date_is_in_1_Day_and_Status_is_still_open</name>
            <connector>
                <targetReference>Email_alert_to_HR_manager_and_Record_Owner</targetReference>
            </connector>
            <label>Start Date is in 1 Day and Status is still open</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Start_Date_has_Approached_and_Status_is_still_open</name>
            <connector>
                <targetReference>Email_alert_to_VP_HR</targetReference>
            </connector>
            <label>Start Date has Approached and Status is still open</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Start_Date_has_Approached_7_Days_Before</name>
            <connector>
                <targetReference>Start_Date_has_Approached_7_Days_Before_and_status_is_still_open</targetReference>
            </connector>
            <label>Start Date has Approached 7 Days Before</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
